/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #09141b; /* Added page border */
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    color: #2c3e50;
    text-transform: uppercase;
}

header a {
    color: #2980b9;
    text-decoration: none;
}

header p {
    font-size: 16px;
    margin: 10px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #2c3e50;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.skill {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill:hover {
    background-color: #3498db;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.project-link {
    color: #2980b9;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.download-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.download-btn a {
    background-color: #2980b9;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-btn a:hover {
    background-color: #3498db;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
